<footer class="bg-dark text-white pt-5 pb-4 mt-4">
  <div class="container text-center text-md-left">
      <div class="row text-center text-md-left">
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h5 class="text-uppercase mb-4 font-weight-bold">Koryo Taekwondo</h5>
              <p>Seu site para aprender e aperfeiçoar técnicas de taekwondo com instrutores experientes.</p>
          </div>

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h5 class="text-uppercase mb-4 font-weight-bold">Conteúdo</h5>
              <p>
                  <a href="#" class="text-white" style="text-decoration: none;">Técnicas Básicas</a>
              </p>
              <p>
                  <a href="#" class="text-white" style="text-decoration: none;">Técnicas Avançadas</a>
              </p>
              <p>
                  <a href="#" class="text-white" style="text-decoration: none;">Formas (Poomsae)</a>
              </p>
              <p>
                  <a href="#" class="text-white" style="text-decoration: none;">História</a>
              </p>
          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
              <h5 class="text-uppercase mb-4 font-weight-bold">Links Úteis</h5>
              <p>
                  <a href="#" class="text-white" style="text-decoration: none;">Sobre Nós</a>
              </p>
              <p>
                  <a href="#" class="text-white" style="text-decoration: none;">Contato</a>
              </p>
              <p>
                  <a href="#" class="text-white" style="text-decoration: none;">FAQ</a>
              </p>
              <p>
                  <a href="#" class="text-white" style="text-decoration: none;">Termos e Condições</a>
              </p>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h5 class="text-uppercase mb-4 font-weight-bold">Contato</h5>
              <p>
                  <i class="fas fa-envelope mr-3"></i> koryo.tcc@gmail.com
              </p>
              <p>
                  <i class="fas fa-phone mr-3"></i> +55 55 9 9635-3737
              </p>
          </div>
      </div>

      <hr class="mb-4">
      
      <div class="row align-items-center">
          <div class="col-md-7 col-lg-8">
              <p class="text-center text-md-left">© 2024 Todos os direitos reservados:
                  <a href="#" class="text-white" style="text-decoration: none;">
                      <strong>Koryo Taekwondo</strong>
                  </a>
              </p>
          </div>

          <div class="col-md-5 col-lg-4">
              <div class="text-center text-md-right">
                  <ul class="list-unstyled list-inline">
                      <li class="list-inline-item">
                          <a href="#" class="btn btn-outline-light btn-floating mx-1">
                              <i class="fab fa-facebook-f"></i>
                          </a>
                      </li>
                      <li class="list-inline-item">
                          <a href="#" class="btn btn-outline-light btn-floating mx-1">
                              <i class="fab fa-twitter"></i>
                          </a>
                      </li>
                      <li class="list-inline-item">
                          <a href="#" class="btn btn-outline-light btn-floating mx-1">
                              <i class="fab fa-google-plus-g"></i>
                          </a>
                      </li>
                      <li class="list-inline-item">
                          <a href="#" class="btn btn-outline-light btn-floating mx-1">
                              <i class="fab fa-linkedin-in"></i>
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</footer>

  