@import 'bootstrap-icons/font/bootstrap-icons.css';

@font-face {
    font-family: 'horizonbold';
    src:url('/fonts/horizon-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

 /* Estilo personalizado para a navbar */
 .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}
.nav-link {
    font-weight: bold;
    color: black;
}
.nav-link.active {
    color: #4a00e0;
    border-bottom: 2px solid #4a00e0;
}
.navbar-nav .nav-link:hover {
    color: #4a00e0;
}
.icon-user {
    font-size: 1.2rem;
}

.navbar-nav{
    font-family: 'horizonbold';
}
.navbar-brand{
    font-family: 'horizonbold';
}
.efooter{
    font-family: 'horizonbold';
}

.custom-carousel {
    max-width: 71rem; /* Defina a largura máxima desejada */
    margin: 0 auto; /* Centraliza o carrossel na página */
}

.main-video {
    width: 100%;
    height: 100%;
}
/* Estilo para vídeos relacionados */
.related-video-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.related-video {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    aspect-ratio: 16/9;
}
.related-video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.related-title {
    font-size: 0.9rem;
    margin-top: 5px;
}

.video-thumbnail {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 8px;
    overflow: hidden;
    background-color: #000;
}
.video-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1{
    font-family: 'horizonbold';
}

h2{
    font-family: 'horizonbold';
}

h3{
    font-family: 'horizonbold';
}

h4{
    font-family: 'horizonbold';
}
h5{
    font-family: 'horizonbold';
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}
.text-justify {
    text-align: justify;
}
.narrow-container {
    max-width: 800px; /* Ajuste o valor conforme necessário */
    margin: 0 auto; /* Centraliza a `div` na página */
}

.card-fixed-height {
    min-height: 300px; /* Ajuste conforme necessário */
    display: flex;
    flex-direction: column;
}
.card-fixed-height .card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.btn-custom {
    background-color: #0F006C;
    color: white;
}
.btn-custom:hover {
    background-color: #0D004F;
}
.card-custom {
    background-color: #0F006C;
    color: white;
}
.card-custom .btn-light {
    color: #0F006C;
}

.btn-login, .btn-register {
  font-size: 0.8rem; /* Reduz tamanho da fonte */
  padding: 6px 12px; /* Reduz espaçamento interno */
}

/* Botão de Login */
.btn-login {
  background-color: transparent;
  color: #0F006C;
  border: 1.5px solid #0F006C; /* Border mais fino */
}
.btn-login:hover {
  background-color: #0F006C;
  color: white;
}

/* Botão de Cadastro */
.btn-register {
  background-color: #0F006C;
  color: white;
  border: 1.5px solid #0F006C; /* Border mais fino */
}
.btn-register:hover {
  background-color: #0D004F;
}

/* Ajuste de layout para dispositivos móveis */
@media (max-width: 992px) {
  .navbar-nav .btn {
    width: 100%;
  }
  .navbar-nav {
    align-items: center;
  }
} 